[Unit]
Description=Heket Frog Detector
After=network.target auditd.service

[Service]
User=heket
Group=heket
WorkingDirectory=/opt/heket
Environment="PATH=/opt/heket-env/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/opt/heket_env/bin/python3 heket_pipeline.py
Restart=on-failure
RestartPreventExitStatus=255

[Install]
WantedBy=multi-user.target